{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
{% block message %}
    {% if error %}
        <h6 style="color: red">{{ error_message }}</h6>
    {% endif %}
{% endblock %}
{% block content %}
    <form id="login_form" method="post">{% csrf_token %}
        <label for="username_input">نام کاربری: </label>
        <input id="username_input" type="text" name="username" required>
        <br>
        <label for="password_input">رمز عبور: </label>
        <input id="password_input" type="password" name="password" required>
        <br>
        <input type="submit" value="ورود">
    </form>
{% endblock %}

</body>
</html>